/*navbar-top rgba(8,11,18,255) 
navbar-left rgba(0, 0, 0, 255)
main-section rgba(20, 25, 34, 255)
footer rgba(40, 40, 40, 255)
green border e point rgba(173, 255, 47, 255)
grey rgba(163, 163, 163, 255)
*/

/* reset */

* {
    font-family: 'Gotham', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

main {
    height: calc(100vh - 80px);
    color: white;
}

/* classi comuni */

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

h2,
h5,
p {
    padding: 10px;
}

h2,
h5,
h6 {
    color: white;
}

span,
p {
    color: grey;
}

h5 {
    text-transform: uppercase;
}


/* main nav left */

.navbar-left {
    width: 15%;
    min-width: 180px;
    background-color: rgba(0, 0, 0, 255);
}

section.navbar-left img {
    width: 80%;
    padding: 15px;
}

section.navbar-left nav a {
    padding: 5px 10px;
    color: grey;
    text-decoration-line: none;
}

section.navbar-left nav img {
    width: 15%;
    vertical-align: middle;
    padding: 0;
}

.nav-playlist {
    overflow: auto;
}

.nav-playlist i {
    font-size: 2rem;
    vertical-align: middle;

}

section.navbar-left nav.user {
    margin-top: auto;
    padding: 10px;
}

section.navbar-left nav.user a:first-child img {
    width: 10%;
}

section.navbar-left nav.user a:last-child img {
    background-color: grey;
    border-radius: 50%;
}

section.navbar-left nav.user a {
    padding: 10px 0;
}

div.line-grey {
    margin: 0 auto;
    border-bottom: 1px solid grey;
    margin: 5px 0;
}

nav.user a span {
    color: white;
    font-weight: 900;
}


/* central main */

.container {
    width: 85%;
    height: 100%;
    background-color: rgba(20, 25, 34, 255);
}

.container-sound {
    width: 100%;
    overflow: auto;
    padding: 5px 15px;
}

/* main top */

.navbar-top {
    width: 100%;
    min-width: 230px;
    min-height: 70px;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgba(8, 11, 18, 255);
}

div.navbar-top button {
    padding: .5rem 2rem;
    margin-right: 15px;
    background-color: transparent;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
}

/* corpo centrale */

div.change-page {
    justify-content: center;
    height: 20px;
    margin: 10px auto;
    color: grey;
    text-align: center;
}

div.change-page ol li {
    display: inline;
    text-transform: uppercase;
    padding-left: 5px;
}

h2 {
    margin-top: 20px;
}

.album-selected {
    flex-wrap: wrap;

}

div.mini-card {
    width: 200px;
    margin: 20px 10px;
    text-align: center;
}

div.mini-card img {
    width: 100%;
}

.border-fifhty {
    border-radius: 50%;
}

/* footer */

footer {
    height: 80px;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    background-color: rgba(40, 40, 40, 255);
}

footer div {
    align-items: center;
}

footer div img {
    width: 18%;
    padding: 15px;
}