/*navbar-top rgba(8,11,18,255) 
navbar-left rgba(0, 0, 0, 255)
main-section rgba(20, 25, 34, 255)
footer rgba(40, 40, 40, 255)
green border e point rgba(173, 255, 47, 255)
grey rgba(163, 163, 163, 255)
*/

/* reset */

* {
    font-family: 'Gotham', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

main {
    color: white;
    height: calc(100vh - 80px);
}

/* classi comuni */

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.relative {
    position: relative;
}

h5 {
    padding: 10px;
}

h2,
h5,
h6 {
    color: white;
}

span,
p,
i {
    color: grey;
}

h5 {
    text-transform: uppercase;
}

p {
    padding: 10px 0;
}


/* main nav left */

.navbar-left {
    width: 15%;
    min-width: 180px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 255);
}

section.navbar-left img {
    width: 80%;
    padding: 10px;
}

section.navbar-left img:nth-of-type(2) {
    display: none;
}

section.navbar-left nav a {
    color: grey;
    padding: 5px 10px;
    text-decoration-line: none;
}

section.navbar-left nav img {
    width: 20px;
    padding: 0;
    vertical-align: middle;
}

.nav-playlist {
    overflow: auto;
}

.nav-playlist i {
    font-size: 2rem;
    vertical-align: middle;

}

section.navbar-left nav.user {
    margin-top: auto;
    padding: 10px;
}

section.navbar-left nav.user a:first-child img {
    width: 20px;
}

section.navbar-left nav.user a:last-child img {
    background-color: grey;
    border-radius: 50%;
}

section.navbar-left nav.user a {
    padding: 10px 0;
}

div.line-grey {
    margin: 0 auto;
    margin: 5px 0;
    border-bottom: 1px solid grey;
}

nav.user a:last-child span {
    color: white;
    font-weight: 900;
}

/* central main */

.container {
    width: 85%;
    height: 100%;
    overflow-x: hidden;
    background-color: rgba(20, 25, 34, 255);
}

.container-sound {
    width: 100%;
    overflow: auto;
    padding: 5px 15px;
}

/* main top */

.navbar-top {
    width: 100%;
    min-width: 230px;
    min-height: 70px;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgba(8, 11, 18, 255);
}

div.navbar-top button {
    color: white;
    margin-right: 15px;
    padding: .5rem 2rem;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: transparent;
}

/* corpo centrale */

div.change-page {
    height: 20px;
    color: grey;
    margin: 10px auto;
}

div.change-page,
ol.flex {
    flex-wrap: wrap;
    justify-content: center;
}

div.change-page ol li {
    display: inline;
    padding-left: 5px;
    text-transform: uppercase;
}

div.color-green {
    display: none;
    width: 40%;
    height: 3px;
    margin: 5px auto;
    background-color: rgba(173, 255, 47, 255);
}

div.title-selected {
    width: 95%;
    margin: 20px auto 10px;
}


div.album-selected {
    width: 95%;
    margin: 20px auto;
    flex-wrap: wrap;
    gap: 1%;
}

div.mini-card {
    width: calc((100% - 5%) / 6);
    text-align: center;
    padding-bottom: 5px;
}

div.mini-card img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

div.overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 80px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.border-fifhty {
    border-radius: 50%;
}

/* footer */

footer {
    z-index: 1;
    height: 80px;
    justify-content: space-between;
    background-color: rgba(40, 40, 40, 255);
}

footer div {
    align-items: center;
}

footer div img {
    width: 60px;
    padding: 12px;
}

footer div.icon {
    padding-left: 15px;
}

footer div.icon i {
    padding: 5px;
}

div.icon-play i {
    padding: 10px;
    color: white;
}

div.icon-play i:nth-of-type(3) {
    font-size: x-large;
}

div.footer-central {
    justify-content: center;
}

div.play-music {
    width: 25vw;
}

div.sound-music {
    width: 8vw;
}

div.music-bar {
    height: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: gray;
}

div.music-listen {
    width: 20%;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(196, 194, 194);
}

div.music-point {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: 0;
}

div.footer-sound i {
    padding: 5px;
}

/* HOVER */

div.navbar-top button:hover {
    transition: 1s;
    font-size: medium;
}

div.change-page ol li:hover {
    color: white;
}

div.change-page ol li:hover div.color-green {
    display: block;
}

div.mini-card:hover .overlay {
    background-color: black;
    opacity: .5;
}

div.icon i:hover,
div.footer-sound i:hover,
section.navbar-left a:hover i,
section.navbar-left a:hover span {
    color: white;
}

section.navbar-left a:hover {
    border-left: 1px solid rgba(173, 255, 47, 255);
}

div.icon-play i:hover {
    color: rgba(173, 255, 47, 255);
}

div.music-listen:hover {
    background-color: rgba(173, 255, 47, 255);
}

div.music-listen:hover .music-point {
    display: inline-block;
    background-color: rgb(196, 194, 194);
}

/* mediaquery */


@media screen and (max-width: 992px) {
    * {
        transition: .5s;
    }

    div.mini-card {
        width: calc((100% - 5%) / 4);
    }
}

@media screen and (max-width: 768px) {
    div.mini-card {
        width: calc((100% - 5%) / 3);
    }
}

@media screen and (max-width: 576px) {

    div.mini-card {
        width: calc((100% - 5%) / 2);
    }

    section.navbar-left,
    section.container {
        min-width: 40px;
        width: auto;
    }

    section.navbar-left div.logo img:first-child {
        display: none;
    }

    section.navbar-left img:nth-of-type(2) {
        width: 40px;
        display: block;
    }

    section.navbar-left span,
    section.navbar-left h5,
    div.line-grey {
        display: none;
    }

    div.icon-play i {
        padding: 3px;
    }

}