/*navbar-top rgba(8,11,18,255) 
navbar-left rgba(0, 0, 0, 255)
main-section rgba(20, 25, 34, 255)
footer rgba(40, 40, 40, 255)
green border e point rgba(173, 255, 47, 255)
grey rgba(163, 163, 163, 255)
*/

/* reset */

* {
    font-family: 'Gotham', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}


/* main top */

main {
    width: 100vh;
    height: 90vh;
}

.navbar-top {
    width: 85vh;
    height: 10vh;
    background-color: rgba(8, 11, 18, 255);
}


/* main left */

.navbar-left {
    width: 15vh;
    height: 90vh;
    background-color: rgba(0, 0, 0, 255);
}


/* central main */

.container {
    width: 85vh;
    height: 85vh;
    background-color: rgba(20, 25, 34, 255);
}


/* footer */

footer {
    height: 10vh;
    background-color: rgba(40, 40, 40, 255);
}